VITE_SUPABASE_URL=https://yzndilzfbqdvjsddqdcd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6bmRpbHpmYnFkdmpzZGRxZGNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNTgyNDcsImV4cCI6MjA5NzczNDI0N30.rig1cZaO0Pnjll5iXFOUyzKNYN2VEp5M0690CRwy3A8
